.settings-info-box{
    display: flex;
    height: 70px;
    width: 99.6%;
    /* gap: 20px; */
    justify-content: space-between;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #f0c1c1;
    padding-right: 20px;
    padding-left: 6px;
}